.about {
    background-image: url('img/dirA5BG.jpg');

}

.about-text {
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding-top: 18px;
}

.about-pink {
    color: Crimson;
    font-size: 15px;
    font-weight: 500;
    line-height: 0.15em;
}

.about-p {
    color: white;
    font-weight: 300;
    font: italic;
    font-size: 16px;
    padding-top: 20px;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0ex;
    padding: 0ex;
}

.btn-try {
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 30px 10px 30px !important;
    letter-spacing: .15em;
}

.btn-success {
    color: #fff;
    background-color: Crimson !important;
    border-color: Crimson !important;
}

.col-lg-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-lg-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.d8 {
    width: 0;
    height: 100px;
    border-top: 100px solid rgba(220, 20, 60, 0.6);
    border-left: 100px solid transparent;
    zoom: 2;
}

.header {
    background: url('https://images.unsplash.com/photo-1586397147675-6c9bbfdf5420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80') no-repeat center;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

.img-about {
    width: 130px;
    height: 125px;
}

.foto-men {
    height: 660px;
    position: absolute;
}

.form-control-lg {
    font-weight: 400 !important;
    text-transform: uppercase;
    color: white !important;
    font-size: unset;
    font-size: medium !important;
    margin-inline-start: 80px;
}

.form-control {
    background-color: rgba(45, 80, 161, 0.527) !important;

}

.font-pink {
    background-color: Crimson !important;
    text-align: center;
}

.form-white {
    background-color: Gainsboro !important;
}

.little-text {
    color: rgb(39, 39, 39);
    font-size: 15px;
    font-weight: 100;
    margin-top: 5px;
}

.play-icon {
    color: rgb(65, 65, 65) !important;
    margin-top: 15px;
    margin-bottom: 10px;
}

.p-text {
    padding-top: 20px;
    color: rgb(105, 120, 134);
}

.text-header {
    font-weight: 300;
    font-size: 65px;
    color: rgb(25, 44, 44);
    padding-top: 13%;
    letter-spacing: .05em;
}

.text-pink {
    text-transform: uppercase;
    color: Crimson;
    padding-top: 30%;
    line-height: .2;
}

.text-titlle {
    font-weight: 400;
    color: black;
    font-size: 40px;
}

.text-features {
    color: rgb(25, 44, 44);
}

.triangle-bottomright {
    width: 0;
    height: 132px;
    border-bottom: 100px solid rgba(220, 20, 60, 0.6);
    border-left: 100px solid transparent;
    position: relative;
    zoom: 5;

}

.triangle-bottomleft {
    border-bottom: 100px solid rgba(220, 20, 60, 0.6);
    border-right: 100px solid transparent;
    position: absolute !important;
    zoom: 6.65;
    margin-top: -15px;
}

@media (max-width: 480px) {
    .text-header {
        font-size: 50px;
        letter-spacing: 0em;
    }

    .triangle-bottomleft {
        zoom: 3;
    }

    .triangle-bottomright {
        zoom: 3;
    }

    .foto-men {
        height: 395px;
        position: absolute;
    }

    .img-center {
        zoom: .3;
    }

    .d8 {
        zoom: 0;
    }

    .input-group {
        flex-wrap: inherit !important;
    }

    .form-control-lg {
        width: 200px !important;
    }

    .text-titlle {
        font-size: 25px;
        font-weight: 500;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .triangle-bottomleft {
        zoom: 4.8;
    }

    .img-center {
        zoom: .3;
    }

    .form-control-lg {
        width: 350px !important;
    }

    .d8 {
        margin-top: 0px;
    }
}

@media (min-width: 760px) and (max-width: 1200px) {
    .d8 {
        margin-top: 0px;
        margin-right: 350px;
        zoom: 0;
    }
}

@media (min-width: 760px) and (max-width: 990px) {
    .triangle-bottomleft {
        zoom: 7.5;
    }
}

@media (min-width: 990px) and (max-width: 1140px) {
    .form-control-lg {
        width: 800px !important;
    }

    .triangle-bottomleft {
        zoom: 5;
    }
}

@media (min-width: 768px) and (max-width: 1140px) {
    .triangle-bottomright {
        zoom: 5.4;
    }

    .foto-men {
        height: 710px;
        position: absolute;
    }

    .d8 {
        margin-left: 300px !important;
    }
}

@media (min-width: 1140px) and (max-width: 1450px) {
    .triangle-bottomleft {
        zoom: 5.5;
    }
}

@media (min-width: 1400px) {
    .header {
        height: 55vh;
    }
}


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.fog {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #000;
}

.fog__container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fog__img {
    position: absolute;
    height: 100vh;
    width: 300vw;
}

.fog__img--first {
    background: url("img/fog-1.png") repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 60s linear infinite;
    animation: marquee 60s linear infinite;
}

.fog__img--second {
    background: url("img/fog-2.png") repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-200vw, 0, 0);
        transform: translate3d(-200vw, 0, 0);
    }
}

@keyframes marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-200vw, 0, 0);
        transform: translate3d(-200vw, 0, 0);
    }
}

.wrapper {
    font-weight: 300;
    font-size: 50px;
    color: rgb(25, 44, 44);
    padding-top: 13%;
    letter-spacing: .05em;
    padding-top: 22%;
    width: 100%;
    left: 5%;

}

.wave {
    color: #999999;
    animation: 2s color infinite;
}

@keyframes color {
    50% {
        color: #302f2f;
    }
}


.contentt span{
    display: inline-block;
    padding: 0 4px;
    -webkit-transform: scale(1);
    color: transparent;
    -webkit-transition: -webkit-transform 2s ease, color 2s ease; 
}
.contentt:hover span{
    -webkit-transform: scale(2); 
    color: black
}